body {
 background-image: linear-gradient(to right, #181818 , #222222);
 font-family: 'Fraunces', serif;
 color: whitesmoke;
 font-size: 28px;
 font-weight: 300;
 font-style: italic;
 margin: 0px;
 padding: 0px;
}

.red-background {
    background-color: #6C0000;
}

#banner {
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    font-style: normal;
    padding: 8px 0px;
    position: fixed;
    width: 100%;
   }

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.hidden-section {
    display: none;
}

.footer-text {
    font-size: 12px;
    font-weight: 300;
   }

img {
    width: 150px;
}

#large-text {
    font-family: Controwell;
    src: url(.fonts/Controwell-Italic.otf);
    font-size: 128px;
    margin-top: -25px;
    margin-bottom: -90px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: #6C0000;
    color: whitesmoke;
    font-family: Controwell;
    src: url(./fonts/Controwell-Italic.otf);
    font-size: 32px;
    border-radius: 50%;
    width: 60px;
    padding-top: 12px;
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}

.nav-primary {
    width: 130px;
    border: 3px solid whitesmoke;
    border-radius: 7%;
    padding: 8px 10px 1px 10px;
    font-size: 25px;
    opacity: 0;
    cursor: default;
}

.nav-secondary {
    width: 130px;
    border: 3px solid whitesmoke;
    border-radius: 7%;
    padding: 8px 10px 1px 10px;
    color: whitesmoke;
    background-color: #006C0000;
    font-size: 25px;
    opacity: 0;
    cursor: default;
}

.nav-active {
    opacity: 100;
    cursor: pointer;
}

a {
    color: azure;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(28, 28, 28, 0.447);
}

.top-bottom-margin {
    margin-top: 50px;
    margin-bottom: 30px;
}

.bottom-margin {
    margin-bottom: 40px;
}

#center-text {
    text-align: center;
}

#right-text {
    text-align: right;
}

#num-img {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
}

#final-img {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
}

#outcome-img {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 1400px) {
    body {
        font-size: 2vw;
    }

    #large-text {
        font-size: 8.5vw;
        margin-bottom: -6vw;
        margin-top: -1.5vw;
    }

    .flex-row {
        width: max-content;
        gap: 2.5vw;
    }

    button {
        font-size: 2vw;
        width: 3.75vw;
        padding-top: 1.5vh;
    }

    #banner {
        font-size: 0.8vw;
    }

    .footer-text {
        font-size: 0.8vw;
    }

    img {
        width: 10vw;
    }

    .nav-primary {
        width: 10vw;
        font-size: 2vw;
        padding-top: 1.25vh;
    }

    .nav-secondary {
        width: 10vw;
        font-size: 2vw;
        padding-top: 1.25vh;
    }

    .bottom-margin {
        margin-bottom: 4vh;
    }

    .top-bottom-margin {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 992px) {
    img {
        width: 120px;
    }

    #large-text {
        font-size: 100px;
        margin-bottom: -80px;
    }

    body {
        font-size: 24px;
    }
}

@media screen and (max-width: 850px) {
    img {
        width: 100px;
    }

    #large-text {
        font-size: 100px;
    }

    .bottom-margin {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 730px) {
    #large-text {
        font-size: 60px;
        margin-top: -10px;
        margin-bottom: -45px;
    }

    body {
        font-size: 16px;
    }

    button {
        font-size: 22px;
        padding-top: 8px;
        width: 48px;
    }

    .flex-row {
        width: 350px;
        flex-wrap: wrap;
    }

    .bottom-margin {
        margin-bottom: 25px;
    }

    .nav-primary {
        scale: 80%;
    }

    .nav-secondary {
        scale: 80%;
    }

    img {
        width: 20vw;
        max-width: 85px;
    }

    #num-img {
        display: inline-flex;
        max-width: 85vw;
        flex-wrap: wrap;
    }

    #final-img {
        display: inline-flex;
        max-width: 85vw;
        flex-wrap: wrap;
    }

    #outcome-img {
        display: inline-flex;
        max-width: 85vw;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 5vw;
        
    }

    section {
        justify-content: start;
        padding-bottom: 2vh;
    }

    #banner {
        font-size: 3vw;
        padding: 5px 0px;
    }

    #large-text {
        font-size: 20vw;
        margin-bottom: -14vw;
        margin-top: -1vw;
    }

    button {
        font-size: 25px;
        padding-top: 8px;
        width: 13vw;
        min-width: 50px;
        max-width: 51px;
    }

    .flex-row {
        flex-wrap: wrap;
        gap: 10px;
        width: 45vw;
        min-width: 180px;
        justify-content: center;
    }

    #num-img {
        display: inline-flex;
        max-width: 75vw;
        flex-wrap: wrap;
    }

    #final-img {
        display: inline-flex;
        max-width: 75vw;
        flex-wrap: wrap;
    }

    #outcome-img {
        display: inline-flex;
        max-width: 75vw;
        flex-wrap: wrap;
    }

    .nav-primary {
        scale: 100%;
        width: 35vw;
        font-size: 7vw;
        min-width: 100px;
    }

    .nav-secondary {
        scale: 100%;
        width: 35vw;
        font-size: 7vw;
        min-width: 100px;
    }

    .top-bottom-margin {
        margin-top: 75px;
    }

    .footer-text {
        font-size: 10px;
    }

    #section2nav {
        flex-wrap: wrap-reverse;
    }

    #section3nav {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 240px) {
    body {
        text-align: center;
        font-size: 17px;   
    }

    section {
        min-height: none;
    }

    .top-bottom-margin {
        margin-top: 45px;
    }

    button {
        font-size: 18px;
        padding-top: 8px;
    }

    .footer {
        position: static;
        display: flex;
    }

    #banner {
        font-size: 7.5px;
        padding: 5px 0px;
    }

    .nav-primary {
        font-size: 20px;
    }
    
    .nav-secondary {
        font-size: 20px;
    }
}


/*

Breakpoint
X-Small 	        None    <576px
Small   	        sm  	≥576px
Medium  	        md	    ≥768px
Large	            lg	    ≥992px
Extra large	        xl	    ≥1200px v
Extra extra large	xxl	    ≥1400px v

*/